body {
  margin: 50px;
  margin-top: 0px;
}

.mainHeader {
  text-align: left;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;
  font-family: monospace;
  font-size: 16px;
}

li a:hover {
  background-color: #111;
}

.name {
  float: left;
  text-align: center;
  width: 50%;
  height: 50%;
  padding-top: 250px;
  padding-bottom: 410px;
}

.mainPhoto {
  float: right;
  width: 50%;
  padding: 25px 0px 150px 0px;
  padding-bottom: 150px;
  margin: auto;
}

h2.about {
  text-align: right;
  padding-top: 15px;
}

h1 {
  color: black;
  font-style: normal;
  font-family: lucida console;
  font-size: 40px;
  text-align: center;
}

.header {
  font-size: 20px;
}

h2 {
  color: black;
  font-style: normal;
  font-family: monospace;
  font-size: 30px;
}

h3 {
  color: black;
  font-style: normal;
  font-family: monospace;
  font-size: 20px;
}

h4 {
  color: black;
  font-style: normal;
  font-family: monospace;
  font-size: 18px;
}

p {
  color: black;
  font-style: normal;
  font-family: monospace;
  font-size: 16px;
}

.videoCategories {
  padding-top: 20px;
  padding-bottom: 0px;
}

.video {
  float: left;
  padding: 50px 50px 20px 0px;
}

.videoTitle {
  float: none;
  text-align: center;
  padding: 20px 100px 0px 100px;
}

.videoDescription {
  float: none;
  padding: 15px 50px 40px 600px;
}

.videoCards {
  padding: 50px;
}

#Instagram {
  color: magenta;
  margin: 0 auto;
}

#Youtube {
  color: red;
  margin: 0 auto;
}

.icons {
  font-size: 2em;
  text-align: center;
  padding-top: 20px;
}
